.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-3 {
  padding-left: 24px;
  padding-right: 24px;
}

.px-4 {
  padding-left: 32px;
  padding-right: 32px;
}

.px-5 {
  padding-left: 40px;
  padding-right: 40px;
}

.px-6 {
  padding-left: 60px;
  padding-right: 60px;
}

.px-7 {
  padding-left: 70px;
  padding-right: 70px;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 24px;
}

.p-4 {
  padding: 32px;
}

.p-5 {
  padding: 40px;
}

.p-6 {
  padding: 60px;
}

.p-7 {
  padding: 70px;
}
